<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB - Static</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/0-hbnb.css') }}">
</head>
<body>
    <h1>Welcome to HBNB!</h1>
    <h2>States:</h2>
    <ul>
        {% for state in states %}
            <li>{{ state.name }}</li>
        {% endfor %}
    </ul>
    <h2>Cities:</h2>
    <ul>
        {% for city in cities %}
            <li>{{ city.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>
