<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HBNB - Dynamic</title>
    <link rel="stylesheet" href="styles/4-common.css?{{ cache_id }}">
    <link rel="stylesheet" href="styles/3-header.css?{{ cache_id }}">
    <link rel="stylesheet" href="styles/3-footer.css?{{ cache_id }}">
    <link rel="stylesheet" href="styles/6-filters.css?{{ cache_id }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
</head>
<body>
    <header>
        <h1>HBNB</h1>
    </header>
    <section class="filters">
        <h3>Amenities</h3>
        <ul>
            {% for amenity in amenities %}
                <li>
                    <input type="checkbox" data-id="{{ amenity.id }}" data-name="{{ amenity.name }}">
                    {{ amenity.name }}
                </li>
            {% endfor %}
        </ul>
    </section>
</body>
</html>
